
*{
  font-family: 'Dancing Script', cursive;
  font-family: 'Roboto', sans-serif;
  justify-content: center;
}

body{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4B4B4B; 
}
.teste{  
width: 600px;
height: 200px;
top: 100px;
left: 700px;
background: #131212;
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(8.4px);
-webkit-backdrop-filter: blur(8.4px);
border: 1px solid rgba(255, 255, 255, 0.34);
}
.h1{
  font-size: 60px;
}
.btn{
  margin-bottom: 40px;
  font-size: 30px;
  background-color: #131212;
  border-radius: 10px;
  
}
.input{
  height: 46px;
  width: 400px;

  border-radius: 30px;
}
.tituloResultado{
  font-size: 35px;
 display: flex;
}

.alinha{
  align-items: center;
}
.textoResultado{
 display: flex;
 align-items: center;
 color: #4B4B4B;
}