@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  padding: 0;
  margin: 0;
  border: none;
}
body{
  background: #A9CBE3;
  width: 100vw;
  height: 100vh;
}
.temp-div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(167.27deg, #F7F8FB -5.94%, rgba(247, 248, 251, 0.19) 103.62%);
 
  border-radius: 39px;
  width: 80vw;
  height: 70vh;
  margin: 10%;
  gap: 30px;
}
.search-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  position: relative;
  margin-top: 2%;
}

.input{
width: 40vw;
height: 5vh;
background: #000000;
box-sizing: border-box;
border-radius: 5px;
padding-left: 10px;
font-size: 1.2rem;
color:#FFFFFF;
}
.btn{
background: #000000;
color: #FFFFFF;
 border-radius: 5px;
 width: 100px;
height: 35px;
}
.tempo{
  font-size: 2rem;
}
#data{
  position: relative;
  margin-top: 10%;
}
.temp img{ 
  width: 5rem;
}
.imgDiv{
  display: flex;
  align-items: center;
  justify-content: center;

}
footer{ 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}